<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Add Product</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="bg-gradient-to-br from-slate-100 via-green-50 to-slate-200 min-h-screen"
  >
    <div class="max-w-7xl mx-auto py-10 px-5">
      <!-- Header -->

      <div class="flex items-center justify-between mb-10">
        <div>
          <a
            href="{% url 'admin_dash' %}"
            class="w-full inline-block text-center px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition"
          >
            🔙 GO Admin Dashboard 🔙
          </a>

          <h1 class="text-4xl font-bold text-gray-800">Add New Product</h1>

          <p class="text-gray-500 mt-2">
            Create a new product for your e-commerce store.
          </p>
        </div>

        <div
          class="hidden md:flex h-16 w-16 rounded-2xl bg-green-600 text-white items-center justify-center shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
        </div>
      </div>

      <form
        action="{% url 'add_product' %}"
        method="POST"
        enctype="multipart/form-data"
        class="bg-white rounded-3xl shadow-2xl border border-gray-200 overflow-hidden"
      >
        {% csrf_token %}
        <!-- Top Green Bar -->

        <div class="bg-gradient-to-r from-green-600 to-emerald-500 p-6">
          <h2 class="text-white text-2xl font-bold">Product Information</h2>

          <p class="text-green-100 mt-1">Fill all required product details.</p>
        </div>

        <div class="p-8">
          <div class="grid lg:grid-cols-2 gap-7">
            <!-- Product Name -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Product Name
              </label>

              <input
                type="text"
                name="product_name"
                placeholder="Apple iPhone 16 Pro"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:border-green-500 focus:ring-4 focus:ring-green-100 outline-none transition"
              />
            </div>

            <!-- Slug -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Slug
              </label>

              <input
                type="text"
                name="slug"
                placeholder="apple-iphone-16-pro"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:border-green-500 focus:ring-4 focus:ring-green-100 outline-none transition"
              />
            </div>

            <!-- Category -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Category
              </label>

              {% comment %}
              <input
                type="text"
                name="category"
                placeholder="Enter Category like Electronics, Fashion, Home"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:border-green-500 focus:ring-4 focus:ring-green-100 outline-none transition"
              />
              {% endcomment %}

              <select
                name="category"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:ring-4 focus:ring-green-100"
              >
                <option value="">Select Category</option>

                <option value="Electronics">Electronics</option>

                <option value="Fashion">Fashion</option>

                <option value="Home">Home</option>
              </select>
            </div>

            <!-- Subcategory -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Sub Category
              </label>

              {% comment %}
              <input
                type="text"
                name="subcategory"
                placeholder="Enter Sub-category like Mobile, Laptop, Accessories"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:border-green-500 focus:ring-4 focus:ring-green-100 outline-none transition"
              />
              {% endcomment %}

              <select
                name="subcategory"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:ring-4 focus:ring-green-100"
              >
                <option value="">Select Sub Category</option>
                <option value="Mobile">Mobile</option>
                <option value="Laptop">Laptop</option>
                <option value="Accessories">Accessories</option>
              </select>
            </div>

            <!-- Brand -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Brand
              </label>

              {% comment %}
              <input
                type="text"
                name="brand"
                placeholder="Enter Brand Name like Apple, Sumsung, Dell"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:border-green-500 focus:ring-4 focus:ring-green-100 outline-none transition"
              />
              {% endcomment %}
              <select
                name="brand"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3"
              >
                <option value="">Select Brand</option>

                <option value="Apple">Apple</option>

                <option value="Samsung">Samsung</option>

                <option value="Dell">Dell</option>
              </select>
            </div>

            <!-- Stock -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Stock
              </label>

              <input
                type="number"
                name="stock"
                placeholder="120"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:ring-4 focus:ring-green-100 outline-none"
              />
            </div>

            <!-- Price -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Price
              </label>

              <input
                type="number"
                name="price"
                placeholder="₹89999"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:ring-4 focus:ring-green-100 outline-none"
              />
            </div>

            <!-- Discount Price -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Discount Price
              </label>

              <input
                type="number"
                name="discount_price"
                placeholder="₹79999"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:ring-4 focus:ring-green-100 outline-none"
              />
            </div>

            <!-- Rating -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Rating
              </label>

              <input
                type="number"
                name="rating"
                step="0.1"
                placeholder="4.8"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 focus:ring-4 focus:ring-green-100 outline-none"
              />
            </div>

            <!-- Status -->

            <div>
              <label class="font-semibold text-gray-700 mb-2 block">
                Status
              </label>

              <select
                name="status"
                class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3"
                required
              >
                <option value="" selected disabled>Select Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>
          </div>

          <!-- Description -->

          <div class="mt-8">
            <label class="font-semibold text-gray-700 block mb-2">
              Product Description
            </label>

            <textarea
              rows="6"
              name="description"
              placeholder="Write detailed product description..."
              class="w-full rounded-xl border border-gray-300 bg-gray-50 px-4 py-3 resize-none focus:ring-4 focus:ring-green-100 outline-none"
            ></textarea>
          </div>

          <!-- Upload -->

          <div class="mt-8">
            <label class="font-semibold text-gray-700 block mb-3">
              Product Image
            </label>

            <label class="cursor-pointer">
              <div
                class="border-2 border-dashed border-green-300 rounded-2xl p-10 bg-green-50 hover:bg-green-100 transition"
              >
                <div class="flex flex-col items-center">
                  <div
                    class="h-20 w-20 rounded-full bg-green-600 flex items-center justify-center text-white text-4xl"
                  >
                    ⬆
                  </div>

                  <p class="mt-5 text-lg font-semibold text-gray-700">
                    Upload Product Image
                  </p>

                  <p class="text-gray-500">PNG, JPG, JPEG</p>

                  <input type="file" name="image" class="hidden" />
                </div>
              </div>
            </label>
          </div>

          <!-- Buttons -->

          <div class="mt-10 flex justify-end gap-5">
            <button
              type="reset"
              class="px-8 py-3 rounded-xl border border-gray-300 hover:bg-gray-100 font-semibold"
            >
              Reset
            </button>
            <button
              type="submit"
              class="px-10 py-3 rounded-xl bg-gradient-to-r from-green-600 to-emerald-500 text-white font-semibold shadow-xl hover:scale-105 duration-300"
            >
              Add Product
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
